<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
	<display-name>dkdms</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlate</display-name>
		<servlet-name>LoginServlate</servlet-name>
		<servlet-class>LoginServlate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login_Servlate</display-name>
		<servlet-name>Login_Servlate</servlet-name>
		<servlet-class>mylogin.Login_Servlate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlate</servlet-name>
		<url-pattern>/LoginServlate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login_Servlate</servlet-name>
		<url-pattern>/Login_Servlate</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
